:root {
    --transition: 0.2s ease-in-out;
    --colorBG: #f5f5f5ff;
    --colorBGHighlight: #ffffffff;
    --colorOK: #0000ff88;
    --colorNotOK: #ff000088;
    --transparantBright: #ffffff00;
    --colorText: #0a0a0aff;
    --rounding: 1rem;
    --roundingTight: 0.5rem;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
}
html {
    background-color: var(--colorBG);
    font-size: 14px;
    color: var(--colorText);
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

.searchBar {
    width: 30rem !important;
}

